<div class="mt-20">
    <mat-card class="form-container text-center">
        <mat-card-content>
            <img src="../../../assets/images/login.png" alt="signup" width="450" height="350" />

            <h2 class="text-center">LOGIN</h2>

            <form (ngSubmit)="onLoginFormSubmit()">
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>User Name</mat-label>
                    <input required matInput placeholder="eg. john_rics" />
                </mat-form-field>

                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input required matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" />
                    <button
                        mat-icon-button
                        matSuffix
                        type="button"
                        (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide"
                    >
                        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
                    </button>
                </mat-form-field>

                <div class="button-group text-center">
                    <button class="mr-20" type="submit" mat-raised-button color="primary">Login</button>
                    <button type="reset" mat-raised-button>Clear</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
