<mat-card>
    <mat-card-header>
        <h2>All Categories</h2>
    </mat-card-header>
    <mat-card-content>
        <mat-list *ngFor="let cat of categories">
            <mat-list-item>
                <mat-icon matListItemIcon fontIcon="category"> </mat-icon>
                <div matListItemTitle>{{ cat.categoryTitle }}</div>
                <div matListItemLine>{{ cat.categoryDescription }}</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </mat-card-content>
    <mat-card-footer class="mt-10 mb-10 text-center">
        <a mat-raised-button color="primary" routerLink="/admin/add-category">Add a new category</a>
    </mat-card-footer>
</mat-card>
