<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <a mat-list-item routerLink="/admin"><mat-icon matListItemIcon>home</mat-icon>Home</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon matListItemIcon>person</mat-icon>Profile</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon matListItemIcon>category</mat-icon>Category</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon matListItemIcon>add_circle</mat-icon>Add Category</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon matListItemIcon>quiz</mat-icon>Quizzes</a>
        <a mat-list-item routerLink="/admin/profile"><mat-icon matListItemIcon>add</mat-icon>Add Quiz</a>
    </mat-action-list>
</mat-card>
