/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 0;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    background-color: #EDE7F6;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-dir-col {
    flex-direction: column;
}

w100 {
    width: 100%;
}

.ml-10 {
    margin-left: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.form-container {
    margin: auto;
    padding-bottom: 18px;
    width: 50vw;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-field {
    width: 70%;
}