/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding-top: 0;
    font-family: Helvetica, "Helvetica Neue", sans-serif;
    background-color: #e8e8e8;
}

.text-center {
    text-align: center;
}

.form-container {
    margin: auto;
    padding-bottom: 18px;
    width: 50vw;
    height: fit-content;
    background-color: #f3f3f3;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-field {
    width: 70%;
}